.top_heading{
    padding-left: 36vw;
}
.container{
    display: flex;
    border: 1px solid grey;
    padding: 3vw;
}
label{
   background-color: aquamarine;
}
.left-heading{
    color: white;
    background-color: black;
    width: fit-content;
    margin-left: 20vw;
    padding: 10px;
}
.input_marks{
text-align: center;
width: 49vw;
}
.input-box{
    padding: 2vh;
}
.boxes{
    color: white;
    background-color: black;
    align-self: center;
    width: 20vw;
    margin-top: 5vh;
}
.calculations{
    text-align: center;
}